.places {
    width: 100%;
    max-width: 984px;
}

@media (max-width: 1278px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width: 928px) {
    .places {
      width: 100%;
      max-width: 720px;
    }
}