.places {
    width: 100%;
    max-width: 984px;
    box-sizing: border-box;
}

@media (max-width: 1278px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width: 770px) {
    .places {
      width: 100%;
      max-width: 720px;
    }
}