.places {
    max-width: 984px;
}

@media (max-width: 1278px) {
    .places {
        padding: 0 48px 0;
    }
}

@media (max-width: 1022px) {
    .places {
        padding: 0 24px 0 24px;
    }
}

@media (max-width: 766px) {
    .places {
        padding: 0;
    }
}