.place__image {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1278px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 1022px) {
  .place__image {
    max-width: 340px;
  }
}