.place__image {
    max-width: 460px;
}

@media (max-width: 1278px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 1022px) {
  .place__image {
    max-width: 340px;
  }
}

@media (max-width: 766px) {
  .place__image {
    width: 100vw;
  }
}
