.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:nth-of-type(2n) {
    margin: 0 18px 0;
}

.footer__link:hover {
    opacity: .8;
}

@media (max-width: 768px) {
    .footer__link:nth-of-type(2n) {
        margin: 32px 0 32px 0;
    }
}