.lead {
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 1278px) {
    .lead {
        max-width: 928px;
    }
}

@media (max-width: 770px) {
    .lead {
        padding: 0;
    }
}