.cover__subtitle {
    margin: 32px auto 0;
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 100;
}

.cover__subtitle:hover ~ .cover::before {
    opacity: .8;
}

@media (max-width: 768px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}