.header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 48px 0;
  }

  @media (max-width: 1022px) {
    .header {
        padding: 0 24px 0 24px;
    }
}

@media (max-width: 766px) {
    .header {
        padding: 0 16px 0 16px;
        align-items: center;
    }
}