.intro {
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

@media (max-width: 1278px) {
    .intro {
        max-width: 928px;
    }
}


@media (max-width: 928px) {
    .intro {
        padding: 0 24px 0 24px;
    }
}

@media (max-width: 766px) {
    .intro {
        padding: 0 16px 0 16px;
    }
}