.intro {
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding: 0 48px 0;
}

@media (max-width: 1022px) {
    .intro {
        padding: 0 24px 0 24px;
    }
}

@media (max-width: 766px) {
    .intro {
        padding: 0 16px 0 16px;
    }
}