.cover__background {
    position: relative;
    background-image: url("../../../images/__background.jpg");
    width: 100%;
    min-height: 740px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-size: 100% auto;
    background-position: center;
    box-sizing: border-box;
}

@media (max-width: 1281px) {
    .cover__background {
        min-height: calc(62.5vw - 96px);
    }
}

@media (max-width: 1023px) {
    .cover__background {
        min-height: 62.5vw;
    }
}