.cover__background {
    position: relative;
    background-image: url("../../../images/__background.jpg");
    width: 100%;
    min-height: 740px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1278px) {
    .cover__background {
        min-height: 640px;
    }
}

@media (max-width: 1022px) {
    .cover__background {
        min-height: 480px;
    }
}

@media (max-width: 766px) {
    .cover__background {
        min-height: 480px;
    }
}