.place {
    width: 100%;
    max-width: 984px;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    row-gap: 48px;
    column-gap: 40px;
}

@media (max-width: 766px) {
    .place {
        grid-template-columns: repeat(1, auto);
        gap: 32px;
    }
}