.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 48px 0;
}

@media (max-width: 1022px) {
    .footer {
        padding: 0 24px 0 24px;
    }
}

@media (max-width: 766px) {
    .footer {
        padding: 0 16px 0 16px;
        flex-flow: column;
        align-items: flex-start;
    }
}